


.navbar-expand-lg .navbar-nav.side-nav {
	flex-direction: column;
}

.card {
	margin-bottom: 15px;
	border-radius: 0;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.bg-dark {
	background-color: #0b1e40 !important;
}

.bg-darknavy {
	background-color: #0d1c38 !important;
}

.bg-dark-checkout {
	background-color: #071329 !important;
}

.header-top {
	box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
	width: 80px;
}

.leftmenutrigger,
.navbar-nav li a .shortmenu {
	display: none
}

.card-title {
	font-size: 28px
}

.leftmenutrigger {
	display: block;
	display: block;
	margin: 6px 0px;
	cursor: pointer;
}

#wrapper {
	padding: 50px 15px 15px 90px;
	height: 100%;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

#wrapper.open {
	padding: 90px 0px 15px 65px;
}

.card-blue-panel.open {
	padding: 10px;
}

.navbar-nav.side-nav.open {
	left: 0;
}

.side-nav li a {
	padding: 25px 15px!important
}

.side-nav img {
	padding: 5px 8px!important
}

.side-nav li a.title-nav {
	padding: 25px 15px!important
}

.side-nav li a.nav-logout img {
	padding: 0 15px!important
}

.nav-link:focus,
.nav-link:hover {
	text-decoration: none;
	background-color: #1c335d;
}

.nav-link:focus img,
.nav-link:hover img {
	filter: brightness(0)invert(1);
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
	color: white;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link.active {
	color: white;
	background-color: #1c335d;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link.active img {
	filter: brightness(0)invert(1);
}

.navbar-nav li a .shortmenu {
	float: right;
	display: block;
	opacity: 1
}

.navbar-nav.side-nav.open.navbar-nav li a .shortmenu {
	opacity: 0
}

.navbar-nav.side-nav {
	background: #0d1c39;
	box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
	position: fixed;
	top: 0;
	flex-direction: column!important;
	left: 0;
	width: 80px;
	bottom: 0;
	padding-bottom: 40px
}

.nav-logout {
	position: absolute;
	bottom: 0;
	width: 100%
}

.nav-item {
	margin-right: 0!important;
	letter-spacing: 1px;
	font-size: 12px!important;
	text-transform: none!important;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
	color: #2d559c;
	font-weight: 300;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	font-size: 12px;
	text-align: center;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
	height: 100px;
}

.animate {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.navbar {
	padding: 0;
}

.navbar-nav li a svg {
	font-size: 25px;
	float: left;
	margin: 0 10px 0 5px;
}

.side-nav .dropdown {
	position: initial;
}

.side-nav .dropdown-menu {
	position: relative;
	opacity: 0;
	left: 120%;
	top: 0;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: 5px 0 5px rgba(0, 0, 0, .1);
	background: #eee;
	visibility: hidden;
	display: block;
	transition: .4s ease all;
}

.side-nav .dropdown-menu.show {
	left: 100%;
	opacity: 1;
	visibility: visible;
	display: block;
	transition: .4s ease all;
}

.navbar .navbar-toggler {
	color: #fff;
	width: 80px;
	height: 60px;
}

footer.page-footer .footer-copyright {
	overflow: hidden;
	background-color: #162a4f;
	color: rgba(255, 255, 255, 0.6);
}

.footer-copyright {
	background-color: #071329;
	font-size: 11px;
	position: relative;
	width: 100%;
	bottom: 0;
}

.text-tokenify {
	color: #ff9c00;
}

.small-text {
	font-size: 11px!important;
}

.text-usd {
	font-size: 14px;
	color: #b1b1b1;
}

.text-bf {
	color: #bfbfbf;
}

.text-blue {
	color: #1a53f0;
}


/* MEDIA */

@media (min-width: 1300.1px) {
	.col-custom {
		-ms-flex: 0 0 14%!important;
		flex: 0 0 14%!important;
		max-width: 14%!important;
		font-size: 10px!important
	}
	.pcview {
		display: block;
	}
	.checkout-token .payment-method .card p {
		font-size: 14px;
	}
}

@media (min-width:992.1px) and (max-width:1300px) {
	.col-custom {
		-ms-flex: 0 0 14%!important;
		flex: 0 0 14%!important;
		max-width: 14%!important;
		margin-bottom: 10px;
	}
	.panel-yellow,
	.panel-red,
	.panel-darkgrey,
	.panel-lightblue,
	.panel-green,
	.panel-darkblue,
	.panel-lightgrey {
		font-size: 11px!important;
	}
	.card-blue-panel {
		padding: 30px 20px!important;
	}
	.pcview {
		display: block;
	}
	/* PLAN PAGE */
	.box-navy {
		font-size: 24px!important;
		padding: 20px 10px;
		background-color: #182b53;
	}
	.box-navy .text-usd {
		font-size: 11px;
	}
	.payment-page .btn-tokenify {
		padding: 5px 11px;
		font-size: 12px;
	}
	.payment-page .card-left p {
		font-size: 12px;
	}
	.payment-page .card-left .col-3 {
		padding-left: 0;
	}
	.payment-page .card-left input.form-bg-blue::placeholder {
		font-size: 9px;
	}
	.payment-page .small-text {
		font-size: 9px!important;
	}
	.checkout-token .payment-method .card p {
		font-size: 11px;
	}
}

@media (min-width:768.1px) and (max-width:992px) {
	.col-custom {
		margin-bottom: 20px;
	}
}

@media (min-width:576.1px) and (max-width:768px) {
	.col-custom {
		margin-bottom: 10px;
	}
	.pcview {
		display: block;
	}
	.omisego .col-12 {
		text-align: center;
		padding-top: 10px;
	}
	.tusd .col-12 {
		text-align: center;
		padding-top: 10px;
	}
	.omisego .row {
		justify-content: center;
	}
	.checkout-token .payment-method .card p {
		font-size: 11px;
	}
}

@media (max-width: 576px) {
	.pcview {
		display: none;
	}
	.col-custom {
		margin-bottom: 10px;
	}
	.navbar-nav.side-nav {
		background: #0d1c39;
		box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
		position: fixed;
		top: 70px;
		flex-direction: column!important;
		left: 0;
		width: 80px;
		bottom: 0;
		padding-bottom: 40px
	}
	.collapse.show .navbar-nav {
		margin-right: 10px;
	}
	#wrapper {
		padding: 90px 0px 15px 0px;
	}
	.card-blue h1 {
		font-size: 26px;
	}
	.card-blue sup {
		font-size: 12px!important;
	}
	.container-fluid h3 {
		font-size: 14px;
	}
	.container-fluid h6 {
		font-size: 12px;
	}
	.pagination .page-item .page-link {
		color: #3a5aa0;
		font-size: 10px!important;
		border: 1px solid #3a5aa0;
		margin: auto 5px;
		border-radius: 5px;
		padding: 10px;
	}
	.col-pagination {
		padding: 0;
	}
	/* PLAN PAGE */
	.box-navy {
		font-size: 24px!important;
		padding: 20px 10px;
		background-color: #182b53;
	}
	.box-navy .text-usd {
		font-size: 11px;
	}
	.payment-page .btn-tokenify {
		padding: 5px 11px;
		font-size: 12px;
	}
	.payment-page .card-left p {
		font-size: 12px;
	}
	.payment-page .card-left .col-3 {
		padding-left: 0;
	}
	.payment-page .card-left input.form-bg-blue::placeholder {
		font-size: 9px;
	}
	.payment-page .small-text {
		font-size: 9px!important;
	}
	.info-upgrade .card h1 {
		font-size: 20px;
	}
	.info-upgrade h5 {
		font-size: 15px;
	}
	.info-upgrade p {
		font-size: 12px;
	}
	.payment-method .card {
		padding: 10px!important;
	}
	.payment-method h5 {
		font-size: 14px;
	}
	.payment-method p {
		font-size: 12px;
	}
	.box-white {
		padding: 60px!important;
	}
	.btn-dashboard .col-12 {
		text-align: center!important;
	}
	.omisego .col-12 {
		text-align: center;
		padding-top: 10px;
	}
	.tusd .col-12 {
		text-align: center;
		padding-top: 10px;
	}
	.checkout-token .payment-method .card p {
		font-size: 11px;
	}
}


/*----------------------------------------------WALLET----------------------------------------------*/

.card-blue {
	background-color: #0d1c39;
	box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.19);
	padding: 10px;
}

.card-blue sup {
	font-size: 16px;
	color: grey;
	top: -1em;
	margin-left: 5px;
	font-weight: 500;
}

.card-blue-panel {
	background-color: #0d1c39;
	box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.19);
	padding: 30px;
}

.card-blue-panel .mask {
	border-radius: 10px;
}


/* PANEL COLOR */

.panel-yellow {
	background-color: #ff9c00;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-red {
	background-color: #e05b00;
	border-radius: 10px;
	padding: 10px 5px;
	width: 100%;
	font-size: 12px;
}

.panel-darkgrey {
	background-color: #717171;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-lightblue {
	background-color: #007fc6;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-green {
	background-color: #947d1f;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-darkblue {
	background-color: #01427a;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-lightgrey {
	background-color: #8e8e8e;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #172a54;
}

.table td,
.table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #172a54;
}


/* PAGINATION */

.pagination {
	justify-content: flex-end;
}

.pagination .page-item .page-link {
	color: #3a5aa0;
	font-size: 18px;
	border: 1px solid #3a5aa0;
	margin: auto 5px;
	border-radius: 5px;
}

.pagination.pg-blue .page-item.active .page-link,
.pagination.pg-blue .page-item:hover .page-link {
	background-color: #3858a2;
	border-radius: 5px;
}

.custom-select {
	display: inline-block;
	width: 20%;
	height: 100%;
	padding: 5px 10px;
	line-height: 1.5;
	color: #9c9c9c;
	vertical-align: middle;
	background-color: #9c9c9c;
	background-size: 8px 10px;
	background: none!important;
	border: 1px solid grey;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.custom-select:focus {
	color: #9c9c9c;
}

.text-grey {
	color: grey;
}

.text-red {
	color: red;
}


/* TABS */

.tabs-blue .card {
	background-color: #1c335d;
	box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.25);
}

.tabs-blue .card-header h5 {
	font-size: 16px;
}

.tabs-blue .card-header p {
	font-size: 12px;
}

.tabs-blue .tab-pane h6 {
	font-size: 14px;
}

.tabs-blue .tab-pane p {
	font-size: 12px;
	margin-bottom: 5px;
}

.nav-tabs {
	border-bottom: 1px solid transparent;
}

.nav-tabs .nav-link {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-left: 40px;
	padding-right: 40px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: white;
	background-color: #122445;
	border-color: transparent;
	border-bottom: 2px solid #ff9100;
}

.tab-pane .card {
	box-shadow: none;
	background-color: #122445;
	padding: 20px;
}

.tab-pane .card:last-child {
	box-shadow: none;
	background-color: #1c335e;
	padding: 20px;
}

.tab-pane .card pre:last-child {
	margin-bottom: 0px;
}


/* PRE */

pre {
	text-align: left;
	line-height: 2;
}

pre.prettyprint {
	border: 1px solid #d6d6d6;
	background-color: #eee;
	width: 100%;
	border-radius: 3px;
	padding: 10px;
	margin: 0;
	margin-bottom: 20px;
	margin-top: 5px;
	font-size: 13px;
	overflow: auto;
}


/* PLAN PAGE */

.payment-page .card-left .card {
	background-color: #1c335e;
	color: white;
	padding: 30px 20px;
	box-shadow: 0 3px 11px 5px rgba(0, 0, 0, .1);
}

.payment-page .card-left .card .form-control {
	background-color: #182b53;
	border: 0px;
}

input.form-bg-blue::placeholder {
	color: #fff!important;
	font-size: 12px;
	text-align: right;
}

.payment-page .card-right .card {
	background-color: #0d1c38;
	color: white;
	padding: 30px 20px 0px 20px;
	box-shadow: 0 3px 11px 5px rgba(0, 0, 0, .1);
}

.box-navy {
	font-size: 34px;
	padding: 20px 10px;
	background-color: #182b53;
}

.box-navy p {
	margin-bottom: 0!important;
}


/* PAGE UPGRADE PLAN */

.info-upgrade .card {
	background-color: #1c335e;
	color: white;
	padding: 20px 10px;
	margin-bottom: 0;
}

.info-upgrade .col-5 {
	padding: 15px;
}

.img-payment-method {
	width: 60px;
}

.payment-method .card {
	padding: 20px;
}


/* PAGE PAYMENT PLAN */

.upgrade-intermediate p {
	font-size: 12px;
}

.upgrade-intermediate .card {
	background-color: #0d1c38;
	margin-bottom: 0
}

.upgrade-intermediate button {
	text-transform: none;
}

.img-qrcode {
	width: 150px;
}

.box-white {
	padding: 100px;
}

.btn-dashboard .right {
	text-align: right;
}


/* PAGE TOKEN LIST */

.img-crypto {
	width: 120px;
}

.omisego .card {
	padding: 20px 10px;
	box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.22)
}

.tusd .card {
	padding: 20px 10px;
	box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.22)
}


/* PAGE CHECKOUT TOKEN */

.checkout-token .payment-method .card {
	padding: 10px 0px!important;
}

.desc-payment {
	color: #969696;
	font-size: 14px;
}
