@font-face {
	font-family: "Comfortaa";
	src: url("../font/comfortaa/Comfortaa-Regular.ttf");
}

body {
	font-family: "Comfortaa";
	background: #182b53;
}


/* NAVBAR */

.nav-item-landing {
	margin-right: 10px;
	font-size: 13px!important;
	letter-spacing: 1px;
}

.navbar-landing .navbar-nav .active>.nav-link,
.navbar-landing .navbar-nav .nav-link.active,
.navbar-landing .navbar-nav .nav-link.show,
.navbar-landing .navbar-nav .show>.nav-link {
	color: #fff;
}

.navbar-landing .navbar-nav .nav-link {
	color: rgba(255, 255, 255, .5);
}

.navbar .navbar-landing {
	background-color: transparent;
	text-transform: uppercase;
}

.navbar.navbar-landing {
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 300;
}

.navbar-landing.scrolling-navbar.top-nav-collapse {
	background-color: #1d355e;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-brand {
	max-width: 200px;
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	margin-left: 1rem;
	white-space: nowrap;
}

.nav-item-landing .nav-link:focus,
.nav-item-landing .nav-link:hover {
	color: rgba(255, 255, 255, .75);
	background-color: transparent;
}


/* END NAVBAR */


/* LANDING PAGE */

.bgheaderfaq {
	background: url(../img/png/bgbg.png)no-repeat center center;
	background-size: cover;
	background-position: top;
}

.card-img-top {
	background-color: red;
}

.panel-build {
	background-color: #2d3b83;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	height: 100%
}

.panel-build p {
	font-size: 14px;
}

.colversatile h3 {
	padding-bottom: 5%
}

.colpanel {
	margin-bottom: 5%
}

.colversatile .view {
	max-width: 280px;
	box-shadow: 0px 0px 10px 5px #0000002e;
	height: 100%;
	min-height: 0;
}

.colversatile p {
	padding-bottom: 5%
}

.overlay .mask:hover {
	opacity: 1;
	border-radius: 10px;
}

.btn-signup {
	padding: 10px 22px;
	font-weight: bold;
	border-radius: 30px;
	background-color: #ff9b00 !important;
}

.btn-signup:hover {
	padding: 10px 22px;
	font-weight: bold;
	border-radius: 30px;
	background-color: #ffbb33 !important;
}

.btn-pricing {
	padding: 10px 22px;
	font-weight: bold;
	border-radius: 30px;
	background-color: #ff9b00 !important;
}

.btn-outline-signup {
	padding: 10px 22px;
	font-weight: bold;
	border-radius: 30px;
	background-color: transparent !important;
	border: 2px solid #ff9b00;
}

.btn-outline-signup:hover {
	padding: 10px 21px;
	font-weight: bold;
	border-radius: 30px;
	background-color: #ff9b00 !important;
	border: 3px solid #ff9b00;
}

.btn-tokenify {
	padding: 10px 22px;
	font-weight: bold;
	border-radius: 30px;
	background-color: #ff9b00 !important;
	border: 2px solid #ff9b00;
}

.btn-tokenify:hover {
	padding: 10px 22px;
	font-weight: bold;
	border-radius: 30px;
	background-color: #ffbb33 !important;
	border: 2px solid #ffbb33;
}

.header-lines-decoration {
	width: 100%;
	position: absolute;
	top: 0;
	height: 6px;
	left: 0;
}

.header-lines-decoration span {
	height: 100%;
	width: 14%;
	float: left;
}

.header-lines-decoration span:first-child,
.header-lines-decoration span:last-child {
	width: 15%;
}


/* color decoration */

.bg-first-color {
	background-color: #fc6201;
}

.bg-second-color {
	background-color: #f68625;
}

.bg-third-color {
	background-color: #f0a847;
}

.bg-fourth-color {
	background-color: #fcba57;
}

.pricing-tables-item-solid.bg-light:hover .bg-layer {
	background-color: #ff9a00;
	color: #fff;
}

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.btn-tokenify:hover {
	padding: 10px 22px;
	font-weight: bold;
	border-radius: 30px;
	background-color: #ffbb33 !important;
}

.btn-outline-tokenify {
	padding: 10px 22px;
	font-weight: bold;
	border-radius: 30px;
	background-color: transparent !important;
	border: 2px solid #ff9b00;
}

.btn-outline-tokenify:hover {
	padding: 10px 21px;
	font-weight: bold;
	border-radius: 30px;
	background-color: #ff9b00 !important;
	border: 3px solid #ff9b00;
}

.rgba-purple-light,
.rgba-purple-light:after {
	background-color: transparent;
}

.text-etherium {
	padding-bottom: 10%;
}

.text-tokenify {
	color: #ff9c00;
}

.text-lightblue {
	color: #5668b3;
}

.pricing-tables-item-solid.bg-light:hover .text-tokenify {
	color: #fff;
}

.pricing-tables-item-solid.bg-light:hover ul li {
	color: #fff;
}

.pricing-tables-item-solid.bg-light:hover p {
	color: #fff;
}

.pricing-tables-item-solid.bg-light p {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15%;
}

.pricing-tables-item-solid.bg-light:hover .btn-pricing {
	padding: 10px 22px;
	font-weight: bold;
	border-radius: 30px;
	background-color: #fff !important;
	color: #ff9c00;
}

.main-pricing-content ul {
	list-style-type: none;
}

footer.page-footer .footer-copyright {
	overflow: hidden;
	background-color: #162a4f;
	color: rgba(255, 255, 255, 0.6);
}

.footer-copyright {
	background-color: #162a4f;
	font-size: 11px;
}

.list-unstyled a {
	color: #5668b3;
	font-size: 12px;
}

.list-unstyled a:hover {
	color: #3b54bf;
}

footer h5 {
	font-size: 12px;
}

.contact-icon {
	width: 15px;
	margin-right: 5px;
}

.logofooter {
	max-width: 200px;
	padding-bottom: 5%;
}

.medsos a {
	color: #ff9c00;
	font-size: 24px;
}

.medsos a:hover {
	color: #ff7800;
	font-size: 24px;
}

.learnmore {
	letter-spacing: 2px;
	font-size: 14px;
}

.tokenfooter {
	padding-bottom: 5%;
	padding-top: 5%;
}

.feedback input:focus {
	border-radius: 21px;
	background-color: #233359;
	border-color: transparent;
	color: #e8e8e8;
}

.feedback textarea:focus {
	border-radius: 12px;
	background-color: #233359;
	border-color: transparent;
}


/* MEDIA */


/* XL */

@media (min-width:1300px) {
	/* body{
    background: url(../img/png/bgbg.png)no-repeat center center;
    background-size: cover;
    background-position: top;
  } */
	.navbar.scrolling-navbar.top-nav-collapse {
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.row-header {
		padding-top: 10%
	}
	.row-header h1 {
		padding-right: 30%
	}
	.row-versatile {
		padding-top: 19%
	}
	.col-custom-6 {
		-ms-flex: 0 0 50.333333%!important;
		flex: 0 0 47.333333%!important;
		max-width: 50.333333%!important;
	}
	.themost {
		padding-top: 10%;
	}
	.themost h2 {
		padding: 5% 33%;
	}
	.tablepricing {
		height: 100%;
		padding: 10px !important;
	}
	.highprice {
		padding: 10px !important;
	}
	.btnheader {
		text-align: left;
	}
	.mobileview {
		display: none;
	}
	.powered {
		padding-bottom: 10%
	}
	.timeline h4 {
		font-size: 30px;
	}
	.timeline p {
		font-size: 20px;
	}
	.pcview h2 {
		font-size: 40px;
	}
	.pcview p {
		padding-top: 10%
	}
	.pricing-tables-wrap {
		width: 100% !important;
	}
	.rowpricing {
		padding-top: 15%;
		padding-bottom: 15%;
	}
	.colversatile {
		max-width: 683px!important;
	}
}


/* LG */

@media (min-width:992px) and (max-width: 1300px) {
	/*   body{
  background: url(../img/png/bgtoken.png)no-repeat center center;
  background-size: cover;
  background-position: top;
} */
	.navbar.scrolling-navbar.top-nav-collapse {
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.row-header {
		padding-top: 10%
	}
	.row-header h1 {
		font-size: 2rem;
		padding-right: 13%
	}
	.btnheader {
		text-align: left;
	}
	.row-versatile {
		padding-top: 10%
	}
	.themost {
		padding-top: 11%;
	}
	.themost h2 {
		padding-bottom: 3%;
		padding-left: 25%;
		padding-right: 25%;
	}
	.tablepricing {
		height: 100%;
		padding: 10px !important;
	}
	.highprice {
		padding: 10px !important;
	}
	.mobileview {
		display: none;
	}
	.col-xl-custom {
		-ms-flex: 0 0 58.333333% !important;
		flex: 0 0 58.333333% !important;
		max-width: 58.333333% !important;
	}
	.timeline p {
		font-size: 13px;
	}
	.powered p {
		margin-bottom: 2%;
	}
	.secfeedback h3 {
		padding-bottom: 2%
	}
	.secfeedback {
		padding-top: 3% !important;
	}
}


/* MD */

@media screen and (max-width: 992px) {
	/* body {
	  background: url(../img/png/bgtoken.png)no-repeat center center;
	  background-size: cover;
	  background-position: top;
	} */
	.mobileview {
		display: none;
	}
	.row-header {
		padding-top: 10%;
	}
	.row-header h1 {
		font-size: 24px;
		padding-right: 8%
	}
	.btnheader {
		text-align: left;
	}
	.btn-tokenify {
		padding: 8px 20px;
		font-size: 10px;
		font-weight: bold;
		border-radius: 30px;
		background-color: #ff9b00 !important;
		border: 2px solid #ff9b00;
	}
	.btn-tokenify:hover {
		padding: 8px 20px;
		font-size: 10px;
		font-weight: bold;
		border-radius: 30px;
		background-color: #ffbb33 !important;
		border: 2px solid #ffbb33;
	}
	.btn-outline-tokenify {
		padding: 8px 20px!important;
		font-size: 10px;
		font-weight: normal;
		border-radius: 30px;
		background-color: transparent !important;
		border: 2px solid #ff9b00;
	}
	.btn-outline-tokenify:hover {
		padding: 8px 20px !important;
		font-size: 10px;
		font-weight: normal;
		border-radius: 30px;
		background-color: #ff9b00 !important;
		border: 2px solid #ff9b00;
	}
	.row-versatile {
		padding-top: 15%
	}
	.themost {
		padding-top: 11%;
	}
	.themost h2 {
		padding-bottom: 3%;
		padding-left: 25%;
		padding-right: 25%;
	}
	.tablepricing {
		height: 100%;
		padding: 10px !important;
	}
	.highprice {
		padding: 10px !important;
	}
	.mobileview {
		display: none;
	}
	.col-xl-custom {
		-ms-flex: 0 0 58.333333% !important;
		flex: 0 0 58.333333% !important;
		max-width: 58.333333% !important;
	}
	.timeline p {
		font-size: 13px;
	}
	.powered p {
		margin-bottom: 2%;
	}
	.secfeedback h3 {
		padding-bottom: 2%
	}
	.secfeedback {
		padding-top: 3% !important;
	}
	.colversatile h3 {
		font-size: 20px
	}
	.panel-build p {
		font-size: 12px;
	}
	.colversatile p {
		font-size: 12px;
	}
	.themost h2 {
		font-size: 20px;
	}
	.timeline h4 {
		font-size: 16px;
	}
	.timeline p {
		font-size: 10px;
	}
	.pricing-tables-wrap {
		width: 100%;
	}
	.pcview .container {
		padding: 0;
	}
	.position-item {
		font-size: 10px;
	}
	.pricing-title {
		font-size: 18px!important;
	}
	.sectionfaq {
		padding-top: 10%
	}
	.feedback {
		width: 72%!important;
	}
}


/* SM */

@media screen and (max-width: 760px) {
	body {
		background: url(../img/png/bgtoken.png)no-repeat center center;
		background-size: cover;
		background-position: top;
	}
	.row-header {
		padding-top: 13%
	}
	.timeline h3 {
		font-size: 1.7rem;
	}
	.timeline p {
		font-size: 14px;
	}
	.timeline-image {
		position: absolute;
		left: 0%;
		top: 60px;
		/*transform: translateX(-50%;);*/
	}
	.timeline-image::before {
		width: 65px;
		height: 65px;
	}
	.timeline {
		padding-right: 5%!important;
	}
	.mobileview {
		display: block;
	}
	.pcview {
		display: none;
	}
	.tablepricing,
	.highprice {
		margin-left: auto;
		margin-right: auto;
	}
	.powered h4 {
		font-size: 20px;
		padding-left: 10%;
		padding-right: 10%;
	}
}


/* XS */

@media screen and (max-width: 575px) {
	body {
		background: url(../img/png/mobilebg.png)no-repeat center center;
		background-size: cover;
		background-position: top;
	}
	.row-header {
		padding-top: 20%
	}
	.row-header .col-12 {
		padding: 0
	}
	.row-header h1 {
		font-size: 20px;
		text-align: center;
		padding: 7% 15%
	}
	.navbar-brand {
		width: 150px;
	}
	.btn-tokenify {
		padding: 8px 20px;
		font-size: 12px;
		font-weight: bold;
		border-radius: 30px;
		background-color: #ff9b00 !important;
		border: 2px solid #ff9b00;
	}
	.btn-tokenify:hover {
		padding: 8px 20px;
		font-size: 12px;
		font-weight: bold;
		border-radius: 30px;
		background-color: #ffbb33 !important;
		border: 2px solid #ffbb33;
	}
	.btn-outline-tokenify {
		padding: 8px 20px!important;
		font-size: 12px;
		font-weight: normal;
		border-radius: 30px;
		background-color: transparent !important;
		border: 2px solid #ff9b00;
	}
	.btn-outline-tokenify:hover {
		padding: 8px 20px !important;
		font-size: 12px;
		font-weight: normal;
		border-radius: 30px;
		background-color: #ff9b00 !important;
		border: 2px solid #ff9b00;
	}
	.row-header img {
		padding-top: 10%;
		padding-bottom: 10%
	}
	.row-versatile .col-12 {
		text-align: center;
		padding-left: 10px!important;
		padding-right: 10px;
	}
	.row-versatile h3 {
		font-size: 15px;
	}
	.themost {
		padding-top: 25%;
	}
	.themost h2 {
		font-size: 15px;
	}
	.themost .timeline h4 {
		font-size: 14px;
	}
	.themost .timeline p {
		font-size: 11px;
	}
	.themost h2 {
		padding-left: 10%;
		padding-right: 10%;
	}
	.heading-sup-title {
		font-size: 11px !important;
	}
	.timeline-image {
		position: absolute;
		left: -5%;
	}
	.timeline-image::before {
		width: 60px;
		height: 60px;
	}
	.tablepricing {
		padding: 0 !important;
	}
	.highprice {
		padding: 0 !important;
	}
	.pricing-tables-wrap {
		width: 100% !important
	}
	.btnheader {
		text-align: center;
	}
	.carousel-control-prev {
		left: -40px;
	}
	.carousel-control-next {
		right: -40px;
	}
	.mobileview {
		display: block;
	}
	.pcview {
		display: none;
	}
	.text-getin {
		font-size: 12px;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 1%
	}
	.colversatile {
		padding-bottom: 15%;
	}
	.position-item {
		font-size: 11px!important;
	}
	.sectionfaq h4 {
		font-size: 18px;
		padding-top: 20%;
	}
	.card .card-accordion {
		margin-bottom: 0!important;
	}
	.accordion .card-header p {
		font-size: 11px;
	}
	.accordion .card-body p {
		font-size: 1px;
	}
	.powered p {
		font-size: 11px;
		padding-left: 10%;
		padding-right: 10%
	}
	.powered h4 {
		font-size: 18px;
	}
	.secfeedback {
		padding-top: 0!important;
		padding-bottom: 10% !important;
	}
	.secfeedback h3 {
		font-size: 18px;
		padding: 8% 2%;
	}
	.feedback {
		width: 90%!important;
	}
	.feedback p {
		font-size: 12px;
	}
	.feedback .form-control {
		font-size: 12px;
	}
	textarea {
		min-height: 109px!important;
	}
	footer p {
		font-size: 7px;
	}
	.learnmore {
		font-size: 8px;
	}
	.navbar-landing {
		padding: 0
	}
	.navbar-brand {
		padding-left: 5%;
		padding-top: 5%;
		padding-bottom: 3%;
	}
	.navbar-collapse {
		background-color: #1d355e;
		padding: 20px;
	}
	.email-custom {
		font-size: 12px;
	}
}


/* TIMELINE */


/*
.timeline p {
  font-size: 12px
} */


/*
.timeline h4 {
  font-size: 18px
} */

:focus {
	outline: 0px solid transparent !important;
}

.timeline {
	padding: 20px 0;
	position: relative;
}

.timeline-nodes {
	padding-bottom: 25px;
	position: relative;
}

.timeline h3,
.timeline p {
	padding: 5px 15px;
}

.timeline h3 {
	font-weight: lighter;
	background: var(--blue);
}

.timeline p,
.timeline time {
	color: var(--blue)
}

.timeline-content {
	border: 1px solid var(--blue);
	position: relative;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2)
}

.timeline-image {
	position: relative;
	z-index: 100;
}

.timeline-image::before {
	content: "";
	width: 80px;
	height: 80px;
	border: 2px dashed var(--blue);
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	z-index: 1;
}

.timeline-image img {
	position: relative;
	z-index: 100;
}

.rgba-stylish-strong {
	background-color: #2d3b83;
}

.accordion .card-body p {
	font-size: 12px
}

.powered p {
	padding-top: 8%;
	font-size: 12px;
}

.powered {
	padding-bottom: 12%
}

.feedback {
	background-color: #2b3a6f;
	border-radius: 10px;
	width: 53%;
	box-shadow: 1px 1px 12px 8px #0000001f;
	padding: 2% 4%;
	margin: auto;
}

footer {
	/* background: url(../img/png/bgfooter.png)no-repeat center center;
  background-size: cover;
  background-position: top; */
	position: relative;
	background-color: #0d1c38;
}

.footer-lines-decoration span:last-child {
	width: 40%
}

.footer-lines-decoration span:first-child {
	width: 60%
}

.footer-lines-decoration span {
	height: 100%;
	float: left;
}

.feedback p {
	color: #e2e2e2;
}

.footer-lines-decoration {
	width: 100%;
	position: absolute;
	top: 0;
	height: 6px;
}

.secfeedback {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #162a4f;
}

.feedback input {
	border-radius: 21px;
	background-color: #233359;
	border-color: transparent;
}

.feedback textarea {
	border-radius: 12px;
	background-color: #233359;
	border-color: transparent;
}


/* END LANDING PAGE */


/* LOGIN */

.login-wrapper {
	padding: 50px 15px 15px 0px;
	height: 100%;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.bg-login {
	background-color: #0d1c39;
}

.login.view{
	height: 100%;
	min-height: 100vh;
}

.login-lines-decoration {
	width: 100%;
	position: absolute;
	top: 0;
	height: 6px;
	left: 0;
}

.login-lines-decoration span {
	height: 100%;
	width: 14%;
	float: left;
}

.login-lines-decoration span:first-child,
.login-lines-decoration span:last-child {
	width: 50%;
}

.btn-rounded {
	border-radius: 30px;
}

.email-custom {
	border-radius: 30px!important;
	background-color: #1c335d;
	color: #f5f5f5;
	padding: 20px;
	border: 0!important;
	padding-left: 50px!important;
}

.email-custom:focus {
	color: #495057;
	background-color: #1c335d;
	color: aliceblue;
	border: 0;
	outline: 0!important;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
	padding-left: 50px!important;
	z-index: 1;
}

.input-group-prepend .prepend-custom {
	border-radius: 30px!important;
	position: absolute;
	background: #0e1c39;
	border: 0;
	color: #1c335d;
	z-index: 100;
	width: 33px;
	height: 33px;
	top: 4px;
	left: 3px;
	padding: 9px;
}


/* END LOGIN */


/* SIDEBAR */


/* NAV SIDEBAR */

.navbar-expand-lg .navbar-nav.side-nav {
	flex-direction: column;
}

.leftmenutrigger,
.navbar-nav li a .shortmenu {
	display: none
}

.navbar-nav.side-nav.open {
	left: 0;
}

.side-nav li a {
	padding: 25px 15px!important
}

.side-nav img {
	padding: 5px 8px!important
}

.side-nav li a.title-nav {
	padding: 25px 15px!important
}

.side-nav li a.nav-logout img {
	padding: 0 15px!important
}

.nav-link:focus,
.nav-link:hover {
	text-decoration: none;
	background-color: #1c335d;
}

.nav-link:focus img,
.nav-link:hover img {
	filter: brightness(0)invert(1);
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
	color: white;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link.active {
	color: white;
	background-color: #1c335d;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link.active img {
	filter: brightness(0)invert(1);
}

.navbar-nav li a .shortmenu {
	float: right;
	display: block;
	opacity: 1
}

.navbar-nav.side-nav.open.navbar-nav li a .shortmenu {
	opacity: 0
}

.navbar-nav.side-nav {
	background: #0d1c39;
	box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
	position: fixed;
	top: 0;
	flex-direction: column!important;
	left: 0;
	width: 80px;
	bottom: 0;
	padding-bottom: 40px
}

.nav-logout {
	position: absolute;
	bottom: 0;
	width: 100%
}

.nav-item {
	margin-right: 0!important;
	letter-spacing: 1px;
	font-size: 12px!important;
	text-transform: none!important;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
	color: #2d559c;
	font-weight: 300;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	font-size: 12px;
	text-align: center;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
	height: 100px;
}

.navbar {
	padding: 0;
}

.navbar-nav li a svg {
	font-size: 25px;
	float: left;
	margin: 0 10px 0 5px;
}

.side-nav .dropdown {
	position: initial;
}

.side-nav .dropdown-menu {
	position: relative;
	opacity: 0;
	left: 120%;
	top: 0;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: 5px 0 5px rgba(0, 0, 0, .1);
	background: #eee;
	visibility: hidden;
	display: block;
	transition: .4s ease all;
}

.side-nav .dropdown-menu.show {
	left: 100%;
	opacity: 1;
	visibility: visible;
	display: block;
	transition: .4s ease all;
}

.navbar .navbar-toggler {
	color: #fff;
	width: 80px;
	height: 60px;
}


/* END NAV SIDEBAR */

.card {
	border-radius: 0;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.bg-dark {
	background-color: #0b1e40 !important;
}

.bg-darknavy {
	background-color: #0d1c38 !important;
}

.bg-dark-checkout {
	background-color: #071329 !important;
}

.header-top {
	box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
	width: 80px;
}

.card-title {
	font-size: 28px
}

.leftmenutrigger {
	display: block;
	display: block;
	margin: 6px 0px;
	cursor: pointer;
}

#wrapper {
	padding: 50px 15px 15px 90px;
	height: 100%;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

#wrapper.open {
	padding: 90px 0px 15px 65px;
}

.card-blue-panel.open {
	padding: 10px;
}

.animate {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

footer.page-footer .footer-copyright {
	overflow: hidden;
	background-color: #162a4f;
	color: rgba(255, 255, 255, 0.6);
}

.footer-copyright {
	background-color: #071329;
	font-size: 11px;
	position: relative;
	width: 100%;
	bottom: 0;
}

.text-tokenify {
	color: #ff9c00;
}

.small-text {
	font-size: 11px!important;
}

.text-usd {
	font-size: 14px;
	color: #b1b1b1;
}

.text-bf {
	color: #bfbfbf;
}

.text-blue {
	color: #1a53f0;
}


/* MEDIA */

@media (min-width: 1300.1px) {
	.col-custom {
		-ms-flex: 0 0 14%!important;
		flex: 0 0 14%!important;
		max-width: 14%!important;
		font-size: 10px!important
	}
	.pcview {
		display: block;
	}
	.checkout-token .payment-method .card p {
		font-size: 14px;
	}
}

@media (min-width:992.1px) and (max-width:1300px) {
	.col-custom {
		-ms-flex: 0 0 14%!important;
		flex: 0 0 14%!important;
		max-width: 14%!important;
		margin-bottom: 10px;
	}
	.panel-yellow,
	.panel-red,
	.panel-darkgrey,
	.panel-lightblue,
	.panel-green,
	.panel-darkblue,
	.panel-lightgrey {
		font-size: 11px!important;
	}
	.card-blue-panel {
		padding: 30px 20px!important;
	}
	.pcview {
		display: block;
	}
	/* PLAN PAGE */
	.box-navy {
		font-size: 24px!important;
		padding: 20px 10px;
		background-color: #182b53;
	}
	.box-navy .text-usd {
		font-size: 11px;
	}
	.payment-page .btn-tokenify,
	.payment-page .btn-outline-tokenify {
		padding: 5px 11px;
		font-size: 12px;
	}
	.payment-page .card-left p {
		font-size: 12px;
	}
	.payment-page .card-left .col-3 {
		padding-left: 0;
	}
	.payment-page .card-left input.form-bg-blue::placeholder {
		font-size: 9px;
	}
	.payment-page .small-text {
		font-size: 9px!important;
	}
	.checkout-token .payment-method .card p {
		font-size: 11px;
	}
}

@media (min-width:768.1px) and (max-width:992px) {
	.col-custom {
		margin-bottom: 20px;
	}
}

@media (min-width:576.1px) and (max-width:768px) {
	.col-custom {
		margin-bottom: 10px;
	}
	.pcview {
		display: block;
	}
	.omisego .col-12 {
		text-align: center;
		padding-top: 10px;
	}
	.tusd .col-12 {
		text-align: center;
		padding-top: 10px;
	}
	.omisego .row {
		justify-content: center;
	}
	.checkout-token .payment-method .card p {
		font-size: 11px;
	}
}

@media (max-width: 576px) {
	.pcview {
		display: none;
	}
	.col-custom {
		margin-bottom: 10px;
	}
	.navbar-nav.side-nav {
		background: #0d1c39;
		box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
		position: fixed;
		top: 70px;
		flex-direction: column!important;
		left: 0;
		width: 80px;
		bottom: 0;
		padding-bottom: 40px
	}
	.collapse.show .navbar-nav {
		margin-right: 10px;
	}
	#wrapper {
		padding: 90px 0px 15px 0px;
	}
	.card-blue h1 {
		font-size: 26px;
	}
	.card-blue sup {
		font-size: 12px!important;
	}
	.container-fluid h3 {
		font-size: 14px;
	}
	.container-fluid h6 {
		font-size: 12px;
	}
	.pagination .page-item .page-link {
		color: #3a5aa0;
		font-size: 10px!important;
		border: 1px solid #3a5aa0;
		margin: auto 5px;
		border-radius: 5px;
		padding: 10px;
	}
	.col-pagination {
		padding: 0;
	}
	/* PLAN PAGE */
	.box-navy {
		font-size: 24px!important;
		padding: 20px 10px;
		background-color: #182b53;
	}
	.box-navy .text-usd {
		font-size: 11px;
	}
	.payment-page .btn-tokenify,
	.payment-page .btn-outline-tokenify {
		padding: 5px 11px;
		font-size: 12px;
	}
	.payment-page .card-left p {
		font-size: 12px;
	}
	.payment-page .card-left .col-3 {
		padding-left: 0;
	}
	.payment-page .card-left input.form-bg-blue::placeholder {
		font-size: 9px;
	}
	.payment-page .small-text {
		font-size: 9px!important;
	}
	.info-upgrade .card h1 {
		font-size: 20px;
	}
	.info-upgrade h5 {
		font-size: 15px;
	}
	.info-upgrade p {
		font-size: 12px;
	}
	.payment-method .card {
		padding: 10px!important;
	}
	.payment-method h5 {
		font-size: 14px;
	}
	.payment-method p {
		font-size: 12px;
	}
	.box-white {
		padding: 60px!important;
	}
	.btn-dashboard .col-12 {
		text-align: center!important;
	}
	.omisego .col-12 {
		text-align: center;
		padding-top: 10px;
	}
	.tusd .col-12 {
		text-align: center;
		padding-top: 10px;
	}
	.checkout-token .payment-method .card p {
		font-size: 11px;
	}
}


/*----------------------------------------------WALLET----------------------------------------------*/

.wallet-balance .card-blue {
	margin-bottom: 30px
}

.wallet-balance .card-blue-panel {
	margin-bottom: 30px;
}

.card-blue {
	background-color: #0d1c39;
	box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.19);
	padding: 10px;
}

.card-blue sup {
	font-size: 16px;
	color: grey;
	top: -1em;
	margin-left: 5px;
	font-weight: 500;
}

.card-blue-panel {
	background-color: #0d1c39;
	box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.19);
	padding: 30px;
}

.card-blue-panel .mask {
	border-radius: 10px;
}


/* PANEL COLOR */

.panel-yellow {
	background-color: #ff9c00;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-red {
	background-color: #e05b00;
	border-radius: 10px;
	padding: 10px 5px;
	width: 100%;
	font-size: 12px;
}

.panel-darkgrey {
	background-color: #717171;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-lightblue {
	background-color: #007fc6;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-green {
	background-color: #947d1f;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-darkblue {
	background-color: #01427a;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.panel-lightgrey {
	background-color: #8e8e8e;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 13px;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #172a54;
}

.table td,
.table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #172a54;
}


/* PAGINATION */

.pagination {
	justify-content: flex-end;
}

.pagination .page-item .page-link {
	color: #3a5aa0;
	font-size: 18px;
	border: 1px solid #3a5aa0;
	margin: auto 5px;
	border-radius: 5px;
}

.pagination.pg-blue .page-item.active .page-link,
.pagination.pg-blue .page-item:hover .page-link {
	background-color: #3858a2;
	border-radius: 5px;
}

.custom-select {
	display: inline-block;
	width: 20%;
	height: 100%;
	padding: 5px 10px;
	line-height: 1.5;
	color: #9c9c9c;
	vertical-align: middle;
	background-color: #9c9c9c;
	background-size: 8px 10px;
	background: none!important;
	border: 1px solid grey;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.custom-select:focus {
	color: #9c9c9c;
}

.text-grey {
	color: grey;
}

.text-red {
	color: red;
}


/* TABS */

.tabs-blue .card {
	background-color: #1c335d;
	box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.25);
}

.tabs-blue .card-header h5 {
	font-size: 16px;
}

.tabs-blue .card-header p {
	font-size: 12px;
}

.tabs-blue .tab-pane h6 {
	font-size: 14px;
}

.tabs-blue .tab-pane p {
	font-size: 12px;
	margin-bottom: 5px;
}

.nav-tabs {
	border-bottom: 1px solid transparent;
}

.nav-tabs .nav-link {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-left: 40px;
	padding-right: 40px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: white;
	background-color: #122445;
	border-color: transparent;
	border-bottom: 2px solid #ff9100;
}

.tab-pane .card {
	box-shadow: none;
	background-color: #122445;
	padding: 20px;
}

.tab-pane .card:last-child {
	box-shadow: none;
	background-color: #1c335e;
	padding: 20px;
}

.tab-pane .card pre:last-child {
	margin-bottom: 0px;
}


/* PRE */

pre {
	text-align: left;
	line-height: 2;
}

pre.prettyprint {
	border: 1px solid #d6d6d6;
	background-color: #eee;
	width: 100%;
	border-radius: 3px;
	padding: 10px;
	margin: 0;
	margin-bottom: 20px;
	margin-top: 5px;
	font-size: 13px;
	overflow: auto;
}


/* PLAN PAGE */

.payment-page .card-left .card {
	background-color: #1c335e;
	color: white;
	padding: 30px 20px;
	box-shadow: 0 3px 11px 5px rgba(0, 0, 0, .1);
}

.payment-page .card-left .card .form-control {
	background-color: #182b53;
	border: 0px;
}

input.form-bg-blue::placeholder {
	color: #fff!important;
	font-size: 12px;
	text-align: right;
}

.payment-page .card-right .card {
	background-color: #0d1c38;
	color: white;
	padding: 30px 20px 20px 20px;
	box-shadow: 0 3px 11px 5px rgba(0, 0, 0, .1);
}

.box-navy {
	font-size: 34px;
	padding: 20px 10px;
	background-color: #182b53;
}

.box-navy p {
	margin-bottom: 0!important;
}


/* PAGE UPGRADE PLAN */

.info-upgrade .card {
	background-color: #1c335e;
	color: white;
	padding: 20px 10px;
	margin-bottom: 0;
}

.info-upgrade .col-5 {
	padding: 15px;
}

.img-payment-method {
	width: 60px;
}

.payment-method .card {
	padding: 20px;
}


/* PAGE PAYMENT PLAN */

.upgrade-intermediate p {
	font-size: 12px;
}

.upgrade-intermediate .card {
	background-color: #0d1c38;
	margin-bottom: 0
}

.upgrade-intermediate button {
	text-transform: none;
}

.img-qrcode {
	width: 150px;
}

.box-white {
	padding: 100px;
}

.btn-dashboard .right {
	text-align: right;
}


/* PAGE TOKEN LIST */

.img-crypto {
	width: 120px;
}

.omisego .card {
	padding: 20px 10px;
	box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.22)
}

.tusd .card {
	padding: 20px 10px;
	box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.22)
}


/* PAGE CHECKOUT TOKEN */

.checkout-token .payment-method .card {
	padding: 10px 0px!important;
}

.desc-payment {
	color: #969696;
	font-size: 14px;
}

.accordion-2,
.accordion .card {
	background-color: transparent;
}

.z-index-2 {
	z-index: 2;
}

.accordion .card:last-child .card-header {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px) !important;
}

.feedback input {
	color: #ffffff;
}

.bg-login .email-custom {
	padding: 0 !important;
}

.img-payment-method {
	border: 2px solid #ffffff;
    border-radius: 50%;
}